/*
=============== 
Global styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.btn {
  transition: all 0.5s ease-in-out;
  font-style: normal;
  color: white;
  background: #38a5db;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:focus {
  outline: none;
  border: none;
}

.form-control {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  margin-bottom: 1rem;
  background: white;
  border-radius: 2rem;
  letter-spacing: 0.2rem;
  outline: none;
}
.form-control::placeholder {
  font-family: "Sen", sans-serif;
  color: #576677;
  font-size: 17px;
  letter-spacing: 2px;
}

/*
=============== 
Scrollbar
===============
*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(172, 169, 169);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(216, 211, 211);
}

/*
=============== 
Navbar
===============
*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar__center {
  width: 90vw;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.navbar__img {
  position: relative;
  top: 2px;
  width: 56px;
  height: 22px;
}

.navbar__links {
  display: flex;
  justify-content: flex-end;
  display: flex;
}
.navbar__links li {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
.navbar__links a {
  text-transform: capitalize;
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 19px;
  color: #3947b6;
  transition: all 0.3s linear;
  padding: 0.3rem 0;
}
.navbar__links a:hover {
  box-shadow: 0px 2px #5454d4;
}

@media screen and (min-width: 660px) {
  .navbar {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  .navbar__img {
    width: 96px;
    height: 39px;
  }
  .navbar__center {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

/*
===============
Hero
===============
*/

.hero {
  position: relative;
  top: 71px;
  background: url("../assets/bgmobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 934px;
  padding: 0 1.2rem;
  margin-bottom: 71px;
}

.hero__text {
  padding: 3rem 0 3rem;
  max-width: 280px;
}

.hero h1 {
  color: white;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.newsletter p {
  font-family: "Sen", sans-serif;
  color: white;
  opacity: 0.7;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0.5rem;
}

.hero__submit-btn {
  display: block;
  width: 100%;
  height: 46px;
  padding: 0rem 2rem;
  font-size: 17px;
  line-height: 23px;
  border-radius: 2rem;
}

.hero__submit-btn:hover {
  transform: none;
}

.arrow {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.arrow__img {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}

.arrow__img:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.social-media {
  position: fixed;
  z-index: 100;
  bottom: 3rem;
  right: 1rem;
}

.social-media__img {
  height: 30px;
  width: 30px;
  float: right;
  clear: right;
  margin-top: 9px;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}

.social-media__img:hover {
  transform: scale(1.1);
}

.video-container {
  position: relative;
  border-radius: 0.5rem;
  height: 200px;
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  max-width: 638px;
  background: url("../assets/video.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container__play-button {
  background: transparent;
  border: 0;
  margin: 0;
  top: 50%;
  outline: 0;
}

.video-container__play-button:hover {
  transform: scale(0.9);
}

.video {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.video__iframe {
  width: 100%;
  height: 100%;
}

.modal__close-btn {
  background: transparent;
  outline: none;
  border: none;
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.modal__close-btn:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.modal__close-btn:focus {
  outline: none;
}

@media screen and (min-width: 660px) {
  .hero {
    background-size: 1440px;
    background-position: top center;
    padding: 5rem 4rem;
  }

  .hero h1 {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 2px;
  }

  .hero__text {
    max-width: 569px;
    left: 40px;
    margin-bottom: 2rem;
  }

  .hero h1 {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 2px;
  }

  .hero__text {
    width: 80vw;
    left: 40px;
    margin-bottom: 2rem;
  }

  .newsletter p {
    font-size: 18px;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
  }

  .hero__form-group {
    display: flex;
  }
  .hero__form-control {
    height: 46px;
  }

  .hero__submit-btn {
    width: fit-content;
    margin-left: -40px;
  }

  .hero__submit-btn:hover {
    transform: scale(1.1);
  }

  .arrow {
    margin-top: 6rem;
    margin-bottom: 11rem;
  }

  .arrow__img {
    height: 60px;
    width: 60px;
  }

  .social-media__img {
    height: 40px;
    width: 40px;
    margin-top: 12px;
  }

  .video-container {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 544px;
    height: 382px;
  }
}

@media screen and (min-width: 914px) {
  .hero {
    padding-left: 7%;
  }

  .video-container {
    margin-top: 12rem;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background: url("../assets/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -50px center;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 0.1fr);
    align-items: center;
  }

  .hero__text {
    grid-column: 1 / 10;
    grid-row: 1 / 9;
  }

  .newsletter {
    grid-column: 1 / 10;
    grid-row: 8 / 10;
  }

  .arrow {
    margin-top: 0;
    grid-column: 11;
    grid-row: 12 / 13;
  }

  .arrow__img {
    margin-top: 0;
  }

  .video-container {
    grid-column: 11 / end;
    grid-row: 1 / 6;
  }
}

/*
===============
Team
===============
*/

.team {
  padding: 2rem 1rem;
  background: inherit;
}

.team__item {
  text-align: center;
  padding: 0 0.5rem;
}

.team__title {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 12px;
  color: rgba(28, 31, 131, 1);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.team__name {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  color: rgba(56, 165, 219, 1);
}

.team__position {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgba(1, 18, 38, 1);
  opacity: 0.5;
}

.team__short-desc {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgba(69, 81, 95, 1);
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 250px;
  text-align: center;
}

.team_profile-pic {
  height: 115px;
  width: 115px;
  border-radius: 200px;
}

.team__icons {
  margin-top: 14px;
  width: 92px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.item__icons__img {
  height: 23px;
  width: 43px;
}

/*
override React Elastic Carousel default styles
*/
.rec.rec-arrow {
  display: none;
}

.rec.rec-dot {
  background-color: rgba(196, 196, 196, 1);
  box-shadow: none;
  size: 0.5rem;
  outline: none;
}

.rec.rec-dot_active {
  background-color: rgba(66, 80, 191, 1);
  box-shadow: none;
  size: 0.5rem;
}

.rec.rec-dot:hover {
  box-shadow: none;
}
.rec.rec-dot:focus {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .team_profile-pic {
    height: 131px;
    width: 131px;
    border-radius: 200px;
    margin-bottom: 1rem;
  }

  .team__name {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0.8rem;
  }

  .team__short-desc {
    font-size: 18px;
    line-height: 24px;
    -webkit-line-clamp: 4;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1155px) {
  .rec.rec-dot {
    display: none;
  }

  .rec.rec-dot_active {
    display: none;
  }
}

/*
===============
Modal
===============
*/

@media screen and (min-width: 768px) {
  /*
  override React Modal default inline styles
  */
  .ReactModal__Content {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%) !important;
    width: 630px !important;
    min-height: 400px !important;
  }

  .team__modal {
    height: 70vh !important;
  }
}

.modal__info {
  text-align: center;
  padding: 1rem;
}

.modal__name {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  color: rgba(56, 165, 219, 1);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modal__position {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgba(1, 18, 38, 1);
  opacity: 0.5;
}

.modal__desc {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgba(69, 81, 95, 1);
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .modal__desc {
    font-size: 18px;
  }

  .modal__name {
    font-size: 40px;
  }
}

/*
===============
Contact
===============
*/

.contact {
  background: rgba(37, 43, 66, 1);
  padding: 5.5rem 1rem 5rem;
  text-align: center;
}

.contact__title {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 12px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  text-transform: uppercase;
  opacity: 0.8;
}

.contact__text {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
  margin-top: 10px;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.contact__form {
  border-radius: 13.0742px;
  padding: 84px 16px 24px;
  max-width: 401px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: rgba(66, 80, 191, 1);
}

.contact__form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__checkbox {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 1rem;
}
.contact__checkbox:focus {
  outline: 0;
}

.contact__label {
  color: white;
  font-family: "Sen", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  left: 5px;
  bottom: 5px;
}

.contact__submit-btn {
  margin-left: 0;
  width: 95px;
  padding: 0;
  margin-top: 2rem;
  display: block;
  height: 46px;
  font-size: 17px;
  line-height: 23px;
  border-radius: 2rem;
}

.contact__submit-btn:hover {
  transform: none;
}

.contact__form-control {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .contact_text {
    max-width: 340px;
    line-height: 24px;
  }

  .contact__submit-btn:hover {
    transform: scale(1.1);
  }
}

/*
===============
Footer
===============
*/
.footer {
  text-align: center;
}

.footer__top {
  background: linear-gradient(
    180deg,
    #fafbff 0%,
    #eff1f9 41.68%,
    #e9ecf6 49.59%,
    #ced3e8 93.91%
  );
  padding: 1rem 1rem 2rem;
}

.footer__logo {
  text-align: left;
}

.footer__img {
  position: relative;
  top: 2px;
  width: 56px;
  height: 22px;
}

.footer__top h3 {
  color: rgba(38, 51, 150, 1);
  font-family: "Sen", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.footer__email {
  display: block;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  text-decoration: underline;
  color: #0f81ff;
}

.footer__email:visited,
.footer__email:hover,
.footer__email:active {
  color: rgba(15, 129, 255, 1);
}

.footer__btn {
  display: block;
  width: 220px;
  height: 46px;
  padding: 0rem 2rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  background: #38a5db;
  border: none;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
}

.footer__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.1fr);
  align-items: center;
}

.footer__link {
  padding: 1rem;
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #45515f;
}

.footer__link:visited,
.footer__link:hover,
.footer__link:active {
  color: #45515f;
}

.footer__line {
  display: none;
}

@media screen and (min-width: 660px) {
  .footer__img {
    width: 96px;
    height: 39px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background: linear-gradient(
      180deg,
      #fafbff 0%,
      #eff1f9 41.68%,
      #e9ecf6 49.59%,
      #ced3e8 93.91%
    );
  }

  .footer__top {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .footer__btn {
    margin-top: 0;
  }

  .footer__bottom {
    display: flex;
    justify-content: space-around;
  }

  .footer__line {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .footer__logo {
    margin-left: 7rem;
  }
}
